<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>PatternGuide</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- place the favicon.ico in the root directory -->
      <link rel="apple-touch-icon" href="apple-touch-icon.png">

      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
      <script>window.pg = {};</script>
</head>
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <header role="banner" class="row large-12 cols">
      <nav role="navigation" class="row">
        <!-- iterate over the global menu -->
        <ul>
          <li>Global menu</li>
        </ul>
      </nav>
    </header>
