<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= ( title ) ? title + " | " : "" %>PatternGuide</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/<%= patternguide.get( "config" ).routePrefix %>/appsets/bower/foundation/css/normalize.css" />
    <link rel="stylesheet" href="/<%= patternguide.get( "config" ).routePrefix %>/appsets/bower/foundation/css/foundation.css" />
    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"> -->
    <script>window.pg = {};</script>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header role="banner" class="">
    <!-- This menu needs to be a dynamic menu that builds dropdowns of all
    groups and pieces for each section. That's not what it is right now. -->
    <%- include nav-global %>
  </header>
